body {
    background-image: url('https://wallpaperaccess.com/full/8611.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    color: black;
    font-weight: bolder;
  }
