.card {
    background-image: url('https://mcdn.wallpapersafari.com/medium/73/84/fw7c3u.jpg');
    background-size: 103%;
    background-position: center;
  }

h3 {
    color: black;
}
.imgPokemon {
    width: 50%;
}
